.scroll-container {
    display: grid;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .card {
    scroll-snap-align: center;
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
    margin: 10px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  