
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #0c0c0c;
  /* background-image: url("./assets/images/bgNews.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; */
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.6em;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #2c2c2c, #474747);
  transition: background 0.3s ease-in-out;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #fff,#fff);
}

